<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Napoli.Properties.Settings.napoliConnectionString"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=napoli"
            providerName="MySql.Data.MySqlClient" />
        <add name="Napoli.Properties.Settings.napoliConnection" connectionString="server=localhost;user id=napoli_user;password=1;persistsecurityinfo=True;database=napoli;allowbatch=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>